# pip install -i https://mirrors.aliyun.com/pypi/simple/ --no-cache-dir -r requirements.txt
Django==4.2
mysqlclient
gunicorn
uwsgi
lxml
crispy-bootstrap5
django-crispy-forms
openpyxl
redis
celery
pandas
rarfile
Pillow
biopython
numpy
python-decouple
django-widget-tweaks
multiqc
future
matplotlib
pyomo