{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tools:tools_list' %}">工具列表</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ tools_id }}</li>
        </ol>
    </nav>
    <div class="row form-control mt-3 pt-3">
        <div class="col">
            <h3 class="panel-title">使用方法：</h3>
        </div>

        <div class="row pt-3">
            <div class="col">
                <h5 class="panel-body">
                    <br><br>
                    这里是一些使用说明
                    <br><br>
                    数据的接收与处理： 上传测序NGS数据文件压缩包，确保文件中没有子文件夹。
                    <br><br>
                    项目名称：为项目提供一个可辨识且唯一的名称
                    <br><br>
                    <br><br>
                    查看结果状态：<a href="{% url 'tools:check_status' tools_id=tools_id %}">以往状态查询</a>
                </h5>
            </div>
        </div>
    </div>
    <div class="row form-control mt-3 pt-3">
        <form id="uploadForm" class="form-group" method="post" enctype="multipart/form-data">{% csrf_token %}
            <!-- project name -->
            <div class="mb-4 pt-3">
                <label for="" class="form-label">Project Name:</label>
                <input type="text" class="form-control" placeholder="20230710_XXX_HLA_test" 
                    name="project_name" required="required" pattern="[^\s]+" title="Project Name should not contain spaces"/>
            </div>
            <!-- NGS data -->
            <div class="mb-4 pt-3">
                <label for="formFile1" class="form-label">NGS data (zip/rar)</label>
                <input class="form-control form-control" required="required" type="file" id="zipFile"
                    accept=".zip,.rar" name="zipFile">
                <div id="progressBar" style="width: 0%; background-color: #4CAF50; height: 20px; margin-top: 10px;"></div>
                <span id="uploadSpeed"></span>
            </div>
            <!-- file2 -->
            <!-- button -->
            <div class="col-xs-7 mb-3">
                <button type="submit" class="btn btn-primary" id="submitBtn">Start Analysis</button>
            </div>
            <div class="col-xs-7 mb-3" id="target-element">
                {% if check_available %}
                    <span>Your project name {{ project_name }} is starting </span>
                    <span>Your unique id is {{ unique_id }}.  Please </span>
                    <a href="{% url 'tools:check_status' tools_id=tools_id %}">Check Here</span>
                {% endif %}
            </div>
        </form>
        <div id="progressBarContainer" style="display: none;">
            <div id="progressBar"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script>
    $(document).ready(function() {
        var csrftoken = '{{ csrf_token }}';

        $('#uploadForm').submit(function(event) {
            event.preventDefault();

            var file = document.getElementById('zipFile').files[0];
            var project_name = $('input[name="project_name"]').val();

            var chunkSize = 1024 * 1024;
            var chunks = Math.ceil(file.size / chunkSize);

            var uploadChunk = function(index, unique_id) {
                if (index >= chunks) {
                    return; // 全部块上传完毕
                }

                var blob = file.slice(index * chunkSize, (index + 1) * chunkSize);
                var formData = new FormData();
                formData.append('chunk', blob);
                formData.append('csrfmiddlewaretoken', csrftoken);
                formData.append('tools_id', '{{ tools_id }}');
                formData.append('project_name', project_name);
                formData.append('chunks', chunks);
                formData.append('index', index);
                if (unique_id) {
                    formData.append('unique_id', unique_id);
                }

                $.ajax({
                    url: "{% url 'tools:tools_use' tools_id=tools_id %}",
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        xhr.upload.addEventListener('progress', function(evt) {
                            if (evt.lengthComputable) {
                                var percentComplete = (evt.loaded / evt.total + index) / chunks * 100;
                                var progressBarWidth = Math.floor(percentComplete) + '%';
                                $('#progressBar').width(progressBarWidth).html(progressBarWidth);
                            }
                        }, false);
                        return xhr;
                    },
                    success: function(response) {
                        uploadChunk(index + 1, response.unique_id);
                    },
                    error: function(xhr, status, error){
                        console.log('请求/tools/use/ Failed', error);
                    }
                });
            };

            uploadChunk(0);
        });
    });
</script>

{% endblock %}

